# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.envrc
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.pixi/
.pdm-python
.pdm-build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


*.log
*.pot
*.pyc
*.mo
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
__pypackages__/

# Supabase or External Config
supabase/
.supabase/
*.db
*.sql
*.bak


# VS Code
.vscode/
# JetBrains / PyCharm
.idea/
# Cursor
.cursorignore
.cursorindexingignore
# Spyder / Rope
.spyproject/
.ropeproject/


htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/


*.mp4
*.mov
*.avi
*.mkv
*.flv
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.ico
*.svg
*.webp
*.zip
*.rar
*.tar
*.gz


*.manifest
*.spec
celerybeat-schedule
celerybeat.pid
docs/_build/
site/
.pybuilder/
target/
.mypy_cache/
.pyre/
.pytype/
cython_debug/


.DS_Store
Thumbs.db
desktop.ini
